
:root {
    --primary-color:#bb69ad;
    --secondary-color: #3F0440;
    --tertiary-color: #2C0C59;
    --quaternary-color: #4B32A6;
    --quinary-color: #020126;
    --light-color: #ffffff;
    
   
}

.bg-custom {
    background: var(--quaternary-color);
    background: linear-gradient(3deg, var(--quaternary-color) 0%, var(--quinary-color) 27%, var(--primary-color) 56%, var(--quinary-color) 81%, var(--quaternary-color) 100%);
}




.navbar-brand,
.nav-link {
    color: var(--light-color);
}

body{
    
    background-image: url(../assets/Captura\ de\ tela\ 2025-06-09\ 153157.png);
    background-position: center;
    border: 6px solid #020126;
    height: 100%;
    
    
}

#homem{
    margin: 9px;
    border: 4px solid, #bb69ad;
    border-radius: 8px;
    background-color: #020126;
    width: 90%;
}
h1{
    color: #faa5ec;
    
}
h2,h3,h4,h5,h6{
    color: #d889cb;
}
.outText{
    color: #f8e9f6;
    font-family: "Saira Condensed", sans-serif;
    text-shadow: #020126 2px, 1px;
}

#imagemDoDia{
    margin: 17px;
    border: 4px solid, #bb69ad;
    border-radius: 8px;
    background-color: #020126;
    width: 90%;
}
.dropdown-menu{
    background-color: #010010;
    border: #bb69ad 2px solid;
    color: aliceblue;
    
}
.dropdown-divider{
    background-color: #bb69ad;
}
.navbar-toggler{
    background-color: #0b0a42;
}
#navbarSupportedContent{
    background-color: #020126;
    padding: 13px;
    border: #bb69ad 2px solid;
}

