
:root {
    --primary-color: #0c0d44;
    --secondary-color: #04BFBF;
    --tertiary-color: #dfc6c6;
    --quaternary-color: #3c1c94;
    --quinary-color: #0e1246;
    --light-color: #ffffff;
    --medium-color: #3c57af;
    --dark-color: #141414;
}

.bg-custom {
    background: var(--quaternary-color);
    background: linear-gradient(90deg, var(--quaternary-color) 0%, var(--quinary-color) 27%, var(--primary-color) 56%, var(--quinary-color) 81%, var(--quaternary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: var(--light-color);
}
